html {
  font-size: 22px;
}
body {
  background-color: #333;
  color: whitesmoke;
}
a {
  color: rgb(17, 194, 32);
}

a:visited {
  color: rgb(4, 129, 183);
}

a:hover,
a:active {
  color: red;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
